<h1>Events for <%= @itinerary.city %>, <%= @itinerary.country %> during <%= @itinerary.start_date %> - <%= @itinerary.end_date %></h1>

<% @itinerary.events.each do |event| %>
  <ul>
    <li><%= "Title: #{event.title}" %></li>
    <li><%= raw event.description %></li>
    <li><%= "Venue: #{event.venue}" %></li>
    <li><%= "Start Time: #{event.start_time}" %></li>
    <li><%= "End Time: #{event.end_time}" %></li>
    <li><%= "All Day: #{event.all_day}" %></li>
    <li><%= "Address: #{event.address}" %><li>
  </ul>
<% end %>

<%= link_to "List of Itineraries", itineraries_path %>